*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

body{
    
    font-family: "Dosis",sans-serif;
}

nav{
    
    background: #0178E4;
    height: 80px;
    width: 100%;
}

label.logo{
    
           color: #fff;
           font-size: 35px;
           line-height: 80px;
           padding: 0 100px;
           font-weight: 900;
        
    
}

nav ul {
    
       float: right;
       margin-right: 20px;
       
       
}

nav ul li{
    
          display: inline-block;
          line-height: 80px;
          margin: 0 5px;
}

nav ul li a{
    
            color: #fff;
            font-size: 17px;
            padding: 7px 13px;
            border-radius: 20px;
            text-transform: uppercase;
    
}

a.active,a:hover{
    
                 background: #1b9bff;
                 transition: .8s;
                 font-weight: 900;
}

.checkbtn{
    
          font-size: 30px;
          color: #fff;
          float: right;
          line-height: 80px;
          margin-right: 40px;
          cursor: pointer;
          display: none;
    
}

#check{
     
       display: none;
}


.hero{
      
     position: absolute;
     width: 1200px;
     margin-left: 0;
     margin-top: 0;
    
}

h1{
    
    color: #fff;
    font-family: "Roboto",sans-serif;
    
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    margin-top: -360px;
    margin-right: 150px;
}
    
.button{
      
      
       margin-top: 30px;
       margin-left: 370px;
      
}

.btn{
    
     display: inline-block;
     border: 1px solid #fff;
     padding: 10px 30px;
     color: #fff;
     margin-right: 5px;
     border-radius: 20px;
     font-weight: 900;
     text-transform: uppercase;
     cursor: pointer;
    
    
}

.btn-one{
    
        background-color: #0178E4;
}

.btn-two:hover{
    
       background-color: #0178E4;
     
       transition: all 0.5s ease-in;
}